/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
}

form button[type="submit"] {
    background-color: #001a33;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 auto;
}

form button[type="submit"]:hover {
    background-color: #022e57;
}

form button[type="submit"]:focus {
    outline: none;
}

/* Añadir espaciado adicional entre etiquetas y campos */
form label,
form input[type="text"],
form textarea,
form button[type="submit"] {
    margin-top: 10px;
}

/* Estilos para la lista de artículos recientes */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: #e0e0e0;
}

ul li a h3 {
    margin: 0;
    font-size: 18px;
}

ul li a p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}
