/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9f0f7;
}

/* Navbar */
/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#001a33;
    padding: 10px 20px;
} */

.navbar-expand-lg.navbar-color{
    background-color: #ffffff;
    border-bottom: 2px solid #dcdcdc;
    padding: 10px 20px;
}

.nav-link {
    display: block !important;
    font-size: 16px !important;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
    font-weight: var(--bs-nav-link-font-weight) !important;
    color: var(--bs-nav-link-color) !important;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav_citas{
    margin-right: 6%;
}

strong {
    font-weight: 600 !important;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    color: #3b88d3 !important;
}



/* Estilos del logo en la navbar */
.navbar-brand .logo {
    height: 60px;
    width: auto;
    margin-left: 2%;
}
/* Nuevas opciones de navegación */
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.navbar ul li {
    position: relative;
    margin-left: 20px;
}

.navbar ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: black;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.navbar ul li:hover ul {
    display: block;
}

.navbar ul li ul li {
    width: 200px;
    padding: 10px;
}

.navbar ul li ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar ul li ul li a:hover {
    background-color: #007BFF;
}

/* Contenedor principal */
.container {
    text-align: center;
}

main {
    padding: 20px;
}

/* Información */
.info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info .text-content {
    flex: 1;
    margin-right: 20px;
   
}

.text-content h1{
    color: #3b88d3;
    padding-top: 60px;
}

.text-content{
    text-align: left;
}


.image-container {
    background: #d6eaf8;
    padding: 24px;
    border-radius: 10px;
}

.info .image-container {
    flex: 0 0 300px;
}

.info .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


.info h2 {
    color: #3b88d3;
}

.btn:hover {
    background-color: #001a33 !important;
    color: #ffffff !important;
}

.info p {
    line-height: 1.6;
    color: #333;
}

.links {
    margin: 20px 0;
}

.links a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    background-color: #3b88d3;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.link {
    display: inline-block;
    color: #3b88d3;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.consulta:hover{
    text-decoration: underline;
    color: #001a33;
}



/* Footer */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


footer {
    background-color: #001a33;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    position: relative;
    width: 100%;
}


#footer {
    background: #001a33 !important;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

.text-center {
    color: white;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 2rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

/* Estilos del menú hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto; /* Alinear a la derecha */
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

section {
    padding: 20px 0;
}

.col-xs-12.col-sm-4.col-md-4 {
    text-align: left;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex; /* Mostrar el botón hamburguesa en móviles */
    }

    .nav_citas {
        display: none; /* Ocultar el menú por defecto */
        width: 100%;
        flex-direction: column; /* Cambiar a columna */
        background-color: #001a33; /* Fondo del menú */
        position: absolute; /* Posicionarlo de forma absoluta */
        top: 60px; /* Ajustar según la altura de tu navbar */
        left: 0;
        z-index: 10;
    }

    .nav_citas.active {
        display: flex; /* Mostrar el menú cuando está activo */
    }

    .navbar ul {
        flex-direction: column; /* Cambiar a columna */
        width: 100%; /* Ancho completo */
    }

    .navbar ul li {
        margin: 10px 0; /* Espaciado entre elementos */
    }

    .links{
        text-align: center;
    }

    .container {
        padding: 0px 30px 20px 30px !important;
    }

    #footer ul.quick-links li a i {
        margin-right: 5px;
    }

    #footer h5 {
        padding-left: 0;
        border-left: none;
        padding-bottom: 6px;
        margin-bottom: 20px;
        color: #ffffff;
    }

    .link{
        padding-bottom: 20px;
    }

    .text-content h1{
        padding-top: 66px;
    }
}
