body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #001a33;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.stepper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    color: white;
}

.step.step1 {
    background-color: #b4daff; /* Azul claro */
}

.step.step2 {
    background-color: #d8b4ff; /* Lila */
}

.step.step3 {
    background-color: #a4c639; /* Verde */
}

.step.active, .step.completed {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.step.step1.active, .step.step1.completed {
    background-color: #b4daff; /* Azul claro */
}

.step.step2.active, .step.step2.completed {
    background-color: #d8b4ff; /* Lila */
}

.step.step3.active, .step.step3.completed {
    background-color: #a4c639; /* Verde */
}

.step-content {
    display: none;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.step-content.active {
    display: block;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #001a33;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}
