/* General reset */
body, h1, h2, p, ul, li, img {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Header styling */
header {
    background: #001a33 ;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    max-width: 100px;
    height: auto;
    margin-left: 20px;
}

.header-container {
    display: flex;
    justify-content: flex-end; /* Alineación a la derecha */
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: flex-end; /* Alineación a la derecha */
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar el contenido en main */
}

.post {
    text-align: center; /* Centrar el contenido en post */
    background-color: wheat;
}

.post h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.post img {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Limita la altura de la imagen */
    border-radius: 8px;
    margin-bottom: 1rem;
    display: block; /* Hacer que img sea un bloque */
    margin-left: auto;
    margin-right: auto;
}

.post video {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Limita la altura del video */
    margin-bottom: 1rem;
}

.post p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #001a33 ;
    color: #fff;
    position: relative; /* Cambiado de absolute a relative */
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    main {
        padding: 1rem;
    }
}
