/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif; /* Fuente principal */
    background-color: #f5f5f5; /* Color de fondo */
    color: #333; /* Color del texto */
}

.container {
    max-width: 960px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    padding: 20px; /* Espacio interno */
}

h3 {
    text-align: center; /* Centrar el título */
    margin-bottom: 20px; /* Espacio inferior */
}

.preguntas {
    margin-top: 30px; /* Espacio superior */
}

.card-header {
    background-color: #f8f9fa; /* Color de fondo del encabezado */
    padding: 15px; /* Espaciado interno */
    border-bottom: 1px solid #dee2e6; /* Borde inferior */
}

.card-header:hover {
    background-color: #e9ecef; /* Cambio de color al pasar el mouse */
    cursor: pointer; /* Cursor de flecha */
}

.card-body {
    padding: 15px; /* Espaciado interno */
}

/* Iconos */
ion-icon {
    margin-right: 5px; /* Espacio a la derecha del icono */
}

/* Cambiar el color del icono */
ion-icon[name="add-outline"] {
    color: #007bff; /* Color azul */
}
