body{
    background-color: #f4f4f4;
}
/* Estilos generales para el navbar */
.navbar-color {
    background-color: #ffffff; /* Color de fondo del navbar */
    border-bottom: 2px solid #dcdcdc; /* Línea inferior para separar el navbar del contenido */
    padding: 10px 20px; /* Espaciado interno del navbar */
}

.navbar-brand .logo {
    height: 60px;
    width: auto;
    margin-left: 2%;
}

/* Estilos para el menú principal */
.navmenu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* Estilos para los elementos del menú */
.navmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
    font-size: 12px;
}

.navmenu ul li {
    margin-left: 20px;
    position: relative;
}

.navmenu ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    display: block;
}

.navmenu ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000;
    padding: 10px 0;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navmenu ul li ul li {
    width: 200px;
    margin: 0;
}

.navmenu ul li ul li a {
    padding: 8px 15px;
    color: #ffffff;
}

.navmenu ul li:hover ul {
    display: block;
}

.navmenu ul li ul li a:hover {
    background-color: #333333;
    color: #ffffff;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navmenu ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navmenu ul li {
        margin-left: 0;
    }

    .navbar-collapse {
        background-color: #fff;
        border-top: 1px solid #dcdcdc;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .dropdown-menu {
        position: static;
        width: 100%;
    }
}

/* Contenedor principal */
.container {
    background: #001a33 !important;
    max-width: 1140px;
}

.servicios {
    background-color: #fff;
    padding: 60px 0;
}
.btn-info {
    color: #fff !important;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.section-title {
    text-align: center;
    color: #3b88d3;
    font-size: 4.5rem;
    margin-bottom: 30px;
}

.section-description {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 40px;
    padding: 0 15px;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-card {
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: 280px;
    overflow: hidden;
    text-align: center;
}

.service-icon {
    width: 100px;
    margin-top: 20px;
}

.service-content {
    padding: 20px;
}

.service-title {
    color: #001a33;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10%;
}

.service-description {
    color: #555;
    font-size: 1rem;
}

/* Más información */
.more-info {
    text-align: center;
    margin: 40px 0;
}

.more-info h1 {
    font-size: 1.5rem;
    color: #3b88d3;
    margin-bottom: 20px;
}

.additional-buttons a {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #3b88d3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}



/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}
.hr-border{
    color: white!important;
}
.text-center{
    color: white;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #001a33 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
